.container {
  display: flex;
  height: 70px;
  background-color: #212529; 
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.links li {
  margin: 20px;
  list-style-type: none;
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-color: none;
}
