.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 70px;
  background-color: #212529;
}

.links {
  font-weight: bold;
  color: #e9ecef;
  margin-left: 5%;
  margin-right: 5%;
  text-decoration: none;
}

.btn {
  color: #212529;
  border-radius: 0.3rem;
  font-weight: bold;
  padding: 10px 20px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
