.container {
  width: 375px;
  height: 200px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.container .title {
  color: red;
  font-size: 27px;
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}

.closeBtn {
  display: flex;
  justify-content: flex-end;
}

.closeBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.container .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landingLink {
  margin-top: 10px;
}

.landingLink a {
  padding: 6px 24px;
  height: 50px;
  margin: 10px;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
}

.btn {
  background-color: #212529;
  margin-top: 10px;
  color: #f8f9fa;
  border-radius: 0.3rem;
  font-weight: bold;
  padding: 15px 30px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn a {
  text-decoration: none;
  color: #f8f9fa;
}