.container {
  text-decoration: none;
}

.card {
  align-items: center;
  background-color: #d9eac2;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  height: 475px;
  margin: 2rem;
  padding: 0;
  width: 352px;
}

.card h3 {
  font-size: 1.4rem;
}

.card img {
  border-radius: 15px 15px 0 0;
  height: 280px;
  width: 352px;
}

.content {
  color: #212529;
  display: block;
  padding: 10px;
  text-align: center;
}

.diets {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 8px;
}

.diets li {
  list-style-type: none;
}

.diet {
  margin: 1px;
  padding: 0 10px 0 10px;
}
