.card {
  border-radius: 15px;
  border: 1px solid gainsboro;
  width: 295px;
  margin: 15px;
}

.card img {
  height: 219px;
  border-radius: 15px 15px 0px 0px;
  margin-bottom: 5px;
}

.content {
  display: block;
  padding: 10px;
  text-align: center;
}

li {
  list-style-type: none;
}
