.container {
  box-sizing: border-box;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  height: 325px;
  margin-top: 16px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  align-items: center;
  width: 475px;
}

.devider {
  box-sizing: border-box;
  display: flexbox;
  align-self: center;
  padding-left: 8px;
  padding-right: 8px;
  justify-content: center;
}

li {
  list-style-type: none;
}
