.container {
  min-height: 100vh;
  font-family: Nunito, sans-serif;
}

.container button,
input {
  font-family: inherit;
}

.navContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #426715;
}

.links {
  color: #e9ecef;
  font-weight: bold;
  margin-left: 5%;
  margin-right: 5%;
  text-decoration: none;
}

.logo {
  border-radius: 100%;
  width: 4rem;
  margin-left: 1.5rem;
}

.btn {
  border-radius: 0.3rem;
  border: none;
  color: #212529;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 20px;
  outline: none;
  transition: all 0.2s ease-in-out;
}

.menus {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  text-align: center;
}

.resetBtn {
  border-radius: 5px;
  border: none;
  color: #426715;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  height: 37px;
  padding: 0px 10px;
  outline: none;
}

.menus select {
  color: #426715;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  height: 27px;
  text-align: center;
}

.errorBackground {
  align-items: center;
  background-color: transparent;
  display: flex;
  /* height: 100vh; */
  justify-content: center;
  position: fixed;
  /* width: 98vw; */
}

.create {
  align-items: center;
  border-left: 3px solid #e9ecef;
  color: #e9ecef;
  font-size: 1rem;
  font-weight: bold;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 10px;
  text-decoration: none;
  text-align: center;
}
