.container {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 75px;
  margin-bottom: 50px;
  margin-left: 25px;
}

.header h2 {
  color: #212529;
}

.form {
  background-color: #e9ecef;
  border-radius: 15px;
  border: 1px solid #ced4da;
  width: 375px;
  margin: 15px;
  padding: 20px;
}

.stepContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
}

.healthScoreContainer {
  width: 15%;
}

.formLabel {
  color: #212529;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
  margin-top: 10px;
}
.formInput {
  display: flex;
  flex-direction: column;
}

.formControl {
  width: 95%;
  padding: 0.3rem 0.3rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #f8f9fa;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.3rem;
}

.inputRenderControl {
  font-style: italic;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
}

.btn {
  background-color: #212529;
  margin-top: 10px;
  color: #f8f9fa;
  border-radius: 0.3rem;
  font-weight: bold;
  padding: 15px 30px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

textarea {
  resize: none;
}
