.container::before {
  background: linear-gradient(90deg, black, #f6fbf1);
  content: '';
  min-height: 100vh;
  opacity: 0.3;
  position: absolute;
  width: 100%;
}

.container {
  align-items: center;
  background-image: url('../../assets/background-landing5.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  font-family: Nunito, sans-serif;
  height: 100vh;
  justify-content: center;
  position: relative;
  text-align: center;
  width: 100vw;
}

.header {
  color: #e9ecef;
  font-size: 10rem;
  margin-bottom: 1rem;
  text-shadow: 0.1rem 0.01rem 0 black, 0.01rem 0.01rem 0 black,
    0.01rem 0.1rem 0 black, 0.01rem 0.01rem 0 black;
  z-index: 1;
}

.container p {
  color: #e9ecef;
  font-size: 1.8rem;
  font-weight: bold;
  text-shadow: 0.1rem 0.01rem 0 black, 0.01rem 0.01rem 0 black,
    0.01rem 0.1rem 0 black, 0.01rem 0.01rem 0 black;
  z-index: 1;
}

.btn {
  background-color: #426715;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: bold;
  height: 2rem;
  margin-top: 2rem;
  outline: none;
  padding: 1rem 2rem;
  transition: all 0.2s ease-in-out;
  width: 10rem;
  z-index: 1;
}

.btn a {
  color: #e9ecef;
  text-decoration: none;
}
