.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.btnContainer {
  margin-top: 1rem;
  display: flex;
  gap: 5px;
  margin-bottom: 1rem;
}

.btn {
  min-width: 2.6rem;
  text-align: center;
  text-decoration: none;
  color: #f6fbf1;
  font-weight: bold;
  font-size: 1.2rem;
  border: none;
  font-family: 'Roboto';
  padding: 5px 10px 5px 10px;
  background-color: #426715;
  border-radius: 5px;
  cursor: pointer;
}

.currentPage {
  border: 1px solid #426715;
  min-width: 2.6rem;
  text-align: center;
  text-decoration: none;
  color: #426715;
  font-weight: bold;
  font-size: 1.2rem;
  font-family: 'Roboto';
  padding: 5px 10px 5px 10px;
  background-color: #f6fbf1;
  border-radius: 5px;
  cursor: pointer;
}
